.*
!/.github/
!/.vscode/
!/.env-example
!/.gitattributes
!/.gitignore

# Build config files
!.serialdata.example

# Build artifacts
/dist
EFI-*

# macOS Boot Image
**/com.apple.recovery.boot

# OpenCore specific caches
opencore-*[0-9].txt

# macOS specific caches
/.Spotlight-V100
.DS_Store